<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon">
    <title>Inicio - Sistema de Inventario</title>
</head>

<body>
    {% include 'partials/_header.html' %}

    <h1 class="text-center mb-3 mt-4">Sistema de Control de Inventario</h1>

    <article>
        <p class = "text-center mb-3">En este sistema podrás gestionar tu empresa de manera más eficiente.</p>
        <p class = "text-center mb-3">Puedes controlar tus productos de manera sencilla y rápida.</p>
        <p class = "text-center mb-3">Contactar con tus proveedores y clientes más rápido y más fácil</p>
        <p class = "text-center mb-3">Generar reportes de ventas y compras en segundos.</p>
    </article>

</body>
</html>